@use "global" as *;

.home-works {
  overflow: hidden;
  position: relative;
  z-index: $layer-default;
}

.home-works::before {
  background-image: linear-gradient(115deg, $color-bg02 12%, $color-bg 12%, $color-bg 88%, $color-bg02 88%);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $layer-background;

  @include mq('md') {
    background-image: linear-gradient(49deg, $color-bg02 17.5%, $color-bg 17.5%, $color-bg 82.5%, $color-bg02 82.5%);
  }
}

.home-works__title {
  @include mq('md') {
    margin-top: rem(-6);
    text-align: center;
  }
}

.home-works__lead {
  font-size: rem(24);
  font-weight: $medium;
  margin-top: rem(20);

  @include mq('md') {
    font-size: rem(32);
    margin-top: rem(22);
    text-align: center;
  }
}

.home-works__description {
  font-size: rem(14);
  @include letterSpacing(20);
  line-height: 2;
  margin-top: rem(15);

  @include mq('md') {
    font-size: rem(16);
    margin-top: rem(25);
    text-align: center;
  }
}

.home-works__items {
  column-gap: 0;
  display: grid;
  grid-template-columns: 1fr;
  margin: rem(36) 0 0;
  row-gap: rem(32);
  
  @include mq('md') {
    column-gap: rem(40);
    grid-template-columns: repeat(2, 1fr);
    margin: rem(49) 0 0;
    padding: 0 rem(8) 0 rem(24);
  }
}

.home-works__item {
  opacity: 0;
}

.home-works__item.is-appear {
  animation-duration: $anime-duration;
  animation-fill-mode: $anime-fill-mode;
  animation-name: flipRight;
  animation-timing-function: $anime-timing-function;
}

.home-works__button {
  margin-top: rem(32);
  text-align: center;

  @include mq('md') {
    margin-top: rem(40);
  }
}
