section#contact.l-footer-contact.p-footer-contact 
  .l-container.p-footer-contact__container
    .p-footer-contact__title 
      h2.c-section-title.c-section-title--white
        | contact
        span お問い合わせ
    p.p-footer-contact__description
      | 園崎組では一般的な施工から特注部品、機械の開発・製造まで一貫して対応しております。
      br.u-hidden-sp
      | お気軽にご連絡ください。
    div.p-footer-contact__buttons
      a.p-footer-contact__button.c-button-footer.c-button-footer--accent(href="#") 施工のご相談
      a.p-footer-contact__button.c-button-footer.c-button-footer--dark(href="#") 特注制作のご相談

footer.l-footer.p-footer
  .p-footer__main.p-footer-main
    .l-container.p-footer-main__container
      .p-footer-main__inner
        nav.p-footer-main__nav.p-footer-nav 
          ul.p-footer-nav__items 
            li: a(href="#") トップ
            li: a(href="#services") 事業内容
            li: a(href="#about") 園崎組について
            li: a(href="#works") 園崎組の実績
          ul.p-footer-nav__items 
            li: a(href="#recruit") 採用
            li: a(href="#contact") お問い合わせ
        .p-footer-main__info.p-footer-info 
          .p-footer-info__logo 
            img(src="/img/common/logo-w-2.svg" alt="株式会社 園崎組")
          ul.p-footer-info__items
            li.p-footer-info__item 株式会社 園崎組
            li.p-footer-info__item.p-footer-info__item--no-wrap 〒000-000&thinsp;
            li.p-footer-info__item.p-footer-info__item--no-wrap 埼玉県秩父市×××××××××××
            li.p-footer-info__item: a(href="tel:0940-00-0000") TEL 0494-00-0000
            li.p-footer-info__item FAX 000-0000-0000
  .p-footer__bottom.p-footer-bottom
    .l-container.p-footer-bottom__container 
      p.p-footer-bottom__copyright Copyright &copy; SONOZAKI CO.LTD All Rights Reserved.

button.l-button-to-top.c-button-to-top.js-button-to-top

// JavaScript 
script(src="/js/lib/smoothscroll.min.js")
script(src="/js/lib/bodyScrollLock.min.js")
script(src="/js/lib/swiper-bundle.min.js")
script(src="/js/common.js?ver")